<div class="container">
  <div class="row mx-auto">
    <div class="col">
      <div class="card">
        <h2> Lyrics Fetching API </h2>
        <hr>
        <p><strong><%= @lyrics.count %> Lyrics fetched</strong></p>
        <a class="btn btn-danger" href="/lyrics">Go to Lyrics</a>
        <a class="btn btn-dark mt-1" href="https://github.com/Hassanelashram/lyricsApi"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h2> Weather API </h2>
        <hr>
        <p><strong><%= @lyrics.count %> Lyrics fetched</strong></p>
        <a class="btn btn-danger" href="/lyrics">Go to Weather</a>
        <a class="btn btn-dark mt-1" href="https://github.com/Hassanelashram/lyricsApi"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
